<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recommended Menu</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <div class="container">
        <img id="menu-image" src="../../assets/menu3.jpg" alt="Thang Noodle" class="background-img">
        <div class="text-overlay">
            <h1>Menu</h1>
            <h3>20 mins | 4 servings</h3>
            <a href="../details/details.html" class="menu-link">
                <button class="menu-button">
                    Go To Menu
                </button>
            </a>
        </div>
    </div>
    <script src="../../script.js"></script>
</body>
</html>
