<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Details</title>
    <link rel="stylesheet" href="details.css">
</head>

<body>
    <div class="details-container">
        <a href="../home/home.html" class="back-button">Back to Home</a>
        <img src="../../assets/image2.jpg" alt="Thang Noodle" class="details-img">
        <div class="content">
            <div class="left-side">
                <h2>Menu (Kapao)</h2>
                <h1>Ingredients</h1>
                <p>
                    400 grams of pork<br>
                    50 grams of basil leaves<br>
                    2 cloves of garlic<br>
                    12 red bird’s eye chilies<br>
                    6 dried red bird’s eye chilies<br>
                    1 tablespoon of fish sauce<br>
                    1 1/2 tablespoons of green-label seasoning sauce<br>
                    3 tablespoons of oyster sauce
                </p>
                <img src="../../assets/pork.jpg"  class="product-img">
                <img src="../../assets/ใบกะเพรา.jpg"  class="product-img">
                <img src="../../assets/กระเทียม.jpg"  class="product-img">
                <img src="../../assets/พริกแดงจินดา.jpg" class="product-img">
                <img src="../../assets/พริกแห้งแดงจินดา.jpg" class="product-img">
                <img src="../../assets/น้ำปลา.jpg" class="product-img">
                <img src="../../assets/ซอสปรุงรสฝาเขียว.jpg" class="product-img">
                <img src="../../assets/ซอสหอย.jpg" class="product-img">
           
           
            </div>



            <div class="divider"></div>
            <div class="right-side">
                <h2>Ingredients</h2>
                <p>
                    Heat oil in a hot pan.<br>
                    Stir-fry the chilies and garlic in the oil until they turn a light color.<br>
                    Add the minced pork and continue to stir-fry until it is 75% cooked.<br>
                    Add the seasonings and stir to combine.<br>
                    Add the basil leaves at the end, mix well, and turn off the heat immediately.<br>
                    Fry an egg sunny-side up to your desired level of doneness.<br>
                    Serve the rice on a plate, top with the basil pork stir-fry, and finish with the fried egg.<br>
                </p>
            </div>
        </div>
    </div>
    <script src="script.js"></script>
</body>

</html>